# **Exercise 1**

It is a good idea to read this book in front of a computer so you can try out 
the examples as you go.

Whenever you are experimenting with a new feature,
you should try to make mistakes. For example, in the “Hello, world!” program,
what happens if you leave out one of the quotation marks?
What if you leave out both? What if you spell print wrong?

This kind of experiment helps you remember what you read;
it also helps when you are programming,
because you get to know what the error messages mean. 
It is better to make mistakes now and on purpose than later and accidentally.

### 1) In a print statement, what happens if you leave out one of the parentheses, or both?

In [2]:
 print ("hello, error!"

SyntaxError: ignored

Unexpected EOF means the interpreter expected the file to continue, that happenned because I never closed parentheses after openning it.

In [3]:
 print "hello, error!"

SyntaxError: ignored

In this case the error clearly explains why the syntax is incorrect.

### 2) If you are trying to print a string, what happens if you leave out one of the quotation marks, or both?

In [7]:
print (hello)

NameError: ignored

Leaving a single word inside the parentheses without quotes makes the interpreter think it's handling a variable, which in this casa doesn't exist. The code below should make it work.

In [8]:
hello = "Hello, world!"
print(hello)

Hello, world!

In [5]:
print ("hello, error!)

SyntaxError: ignored

Pretty exact in showing the End of Line while reading a string and where it happened.

### 3) You can use a minus sign to make a negative number like -2. What happens if you put a plus sign before a number? What about 2++2?

In [9]:
+2

2

In [10]:
2++2

4

In [11]:
+-2

-2

In [12]:
+2-2

0

In [13]:
-+2

-2

Just like in math the + seems to be inherent to the number, so writing 2 or +2 is interpreted as the same number. The behavior change according when we add other tokens to the syntax, relatively to the language rules.

### 4) In math notation, leading zeros are ok, as in 09. What happens if you try this in Python? What about 011?

In [14]:
09

SyntaxError: ignored

In [15]:
011

SyntaxError: ignored

Python 3 has eliminated it by making a leading 0 illegal in all integers (except in the constructs 0x , 0b , 0o to indicate hex, binary and octal notations)

In [27]:
0x123  # Hex

291

In [41]:
0b00010100  # Binary

20

In [42]:
0o1230  # Octal

664

Leading 0s that can be ignored in simple math notation are ok and don't throw an error

In [44]:
0.56  # Same as
.56

0.56

In [45]:
000000000000 # Same as

0

### 5) What happens if you have two values with no operator between them?

In [48]:
2 2

SyntaxError: ignored

Not a valid syntax

# **Exercise 2**

Start the Python interpreter and use it as a calculator.
Alternatively, I'm using each cell as an entry in the interpreter.

### 1) How many seconds are there in 42 minutes 42 seconds?

In [49]:
60 * 42 + 42

2562

or, if allowed to use variables:

In [54]:
seconds = 1
minutes = 60 * seconds
42 * minutes + 42 * seconds

2562

### 2) How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.

In [56]:
10 / 1.61

6.211180124223602

### 3) If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace (time per mile in minutes and seconds)? What is your average speed in miles per hour?

In [75]:
(2562 / (10 / 1.61)) / 60

6.874700000000001

In [88]:
.8747 * 60

52.482

~6:52 minutes to run a mile

In [92]:
60/6.874700000000001

8.727653570337614

~8.73 mph